#te-section_overview {
    width: 100%;
    @include breakpoint-desktop() {
        padding-bottom: 0;
    }
}

.te-overview {
    @include breakpoint-tablet() {
        width: 75%;
    }
}

.te-overview_info {
    padding: 0;
    @include breakpoint-desktop() {
        padding: $padding-medium;
    }
}

.te-overview_img {
    overflow-x: hidden;
}

.te-overview_img--mobile img {
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 50%;
    margin: $padding 0;
    // @include shadow-4dp();
}
