html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

section {
    margin: 0 auto $padding-large auto;
    padding: 0 $padding-small;
    width: 100%;
    @include breakpoint-desktop() {
        margin-bottom: $padding-ex-large;
    }
}

article > section {
    border-bottom: solid 1px $divider-color;
    padding-bottom: $padding-large;
    @include breakpoint-desktop() {
        padding-bottom: $padding-ex-large;
    }
}

article > section:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
}

img {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container.medium {
    max-width: 800px;
}

.container.small {
    max-width: 600px;
}

.services-list {
    display: flex;
}

.services-list ul {
    flex: 1;
}
