html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background: $background;
}

main {
    flex: 1;
}

section {
    margin: 0 auto $padding-large auto;
    padding: 0 $padding-small;
    @include breakpoint-desktop() {
        padding: 0 $padding-large;
        margin-bottom: $padding-ex-large;
    }
}

article > section:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
}

img {
    width: 100%;
}

.container {
    max-width: $desktop-breakpoint;
    margin: 0 auto;
}

.container.medium {
    max-width: $tablet-breakpoint;
}

.container.small {
    max-width: 600px;
}

.container.left {
    margin: 0;
}

.services-list {
    display: flex;
}

.services-list ul {
    flex: 1;
}

header {
    text-align: center;
    margin: 0 auto $padding-large auto;
    @include breakpoint-desktop() {
        margin-bottom: $padding-ex-large;
    }
}

#project-gbo > header {
    background-image: url(/img/gbo-banner.jpg);
}

#project-oldscpa > header {
    background-image: url(/img/oldscpa-banner.jpg);
}
