#te-section_services {
    display: block;
    background-image: url(/img/services-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    width: 100%;
    height: 432px;
    @include breakpoint-tablet() {
        height: 560px;
    }
    @include breakpoint-desktop() {
        height: 624px;
    }
}

#te-section_services--inner {
    background-color: rgba(0, 0, 0, 0.5);
    height: 432px;
    @include breakpoint-tablet() {
        height: 560px;
    }
    @include breakpoint-desktop() {
        height: 624px;
    }
}

.te-services_title {
    margin: 0 auto;
    padding: 0 $padding;
}

.te-services_title:first-child {
    border-top: 2px solid #fff;
}

.te-services_title:last-child {
    border-bottom: 2px solid #fff;
}

.te-services_title h1 {
    color: #fff;
    margin: 0;
    font-weight: 300;
    text-align: center;
}
