.button {
    display: inline-block;
    border: none;
    border-radius: $border-radius;
    border: 1px solid $primary-color;
    max-width: 100%;
    padding: $padding;
    background: $primary-color;
    color: $contrast-text-color;
    text-decoration: none;
    text-align: center;
    line-height: 1;
}

.button.secondary {
    border: 1px solid $secondary-color;
    background: $secondary-color;
}

.button.flat {
    border: 1px solid $primary-text-color;
    background: transparent;
    color: $primary-text-color;
}

.button.secondary.flat {
    border: 1px solid $contrast-text-color;
    background: transparent;
    color: $contrast-text-color;
}

.button:hover {
    background: darken($primary-color, 7);
    text-decoration: none;
}

.button.secondary:hover {
    background: darken($secondary-color, 7);
}

.button.flat:hover {
    background: darken($background, 7);
}

.button.secondary.flat:hover {
    color: $secondary-color;
}
