.button {
    display: inline-block;
    border: none;
    border-radius: $border-radius;
    padding: $padding;
    background: $primary-color;
    color: $contrast-text-color;
    text-decoration: none;
}

.button.flat {
    background: transparent;
    color: $primary-color;
}

.button:hover {
    background: darken($primary-color, 7);
    text-decoration: none;
}

.button.flat:hover {
    background: darken($background, 7);
}
