img {
  width: 100%;
}

.device {
  border-radius: 2vw;
  position: relative;
  box-sizing: border-box;
  background: #fff;
  box-shadow: inset 0 4px 7px 1px #fff,
    inset 0 -5px 20px rgba(173, 186, 204, .25),
    0 2px 6px rgba(0, 21, 64, .14),
    0 10px 20px rgba(0, 21, 64, .05);
}

.device img {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, .24);
}

.device::before,
.device::after {
  content: "";
  display: block;
  position: absolute;
  background: #fff;
  box-shadow: inset 0 4px 7px 1px #fff,
    inset 0 -5px 20px rgba(173, 186, 204, .25),
    0 2px 6px rgba(0, 21, 64, .14),
    0 10px 20px rgba(0, 21, 64, .05);
}

.phone,
.tablet {
  padding: 2.6vw .75vw;
  @include breakpoint-tablet() {
    padding: 20px 5.9px;
    border-radius: 13px;
  }
}

.phone.landscape,
.tablet.landscape {
  padding: .75vw 3vw;
}

.laptop {
  margin-left: 12%;
  margin-right: 12%;
  margin-bottom: 2.5%;
  border-radius: 1vw;
  padding: 1.35%;
}

.desktop {
  margin-bottom: 11%;
  border-radius: 1vw;
  padding: 1.5%;
}


// Phone speaker
.phone::before {
  border-radius: 50px;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 1.15vw;
  width: 20%;
  height: 0.3vw;
  box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, .12);
  @include breakpoint-tablet() {
    top: 8.85px;
    width: 22px;
    height: 2.3px;
  }
}

.phone.landscape::before {
  margin: auto 0;
  left: 1.3vw;
  top: 0;
  bottom: 0;
  width: 0.3vw;
  height: 20%;
}


// Phone and tablet buttons
.phone::after,
.tablet::after {
  border-radius: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: .4vw;
  width: 2.2vw;
  height: 2.2vw;
  box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, .12);
  @include breakpoint-tablet() {
    width: 17.5px;
    height: 17.5px;
    bottom: 4px;
  }
}

.phone.landscape::after,
.tablet.landscape::after{
  margin: auto 0;
  left: calc(100% - 2.5vw);
  top: 0;
  bottom: 0;
}


// Tablet camera
.tablet::before {
  border-radius: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: .925vw;
  width: .75vw;
  height: .75vw;
  background: #eee;
  box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, .12);
  @include breakpoint-tablet() {
    width: 5px;
    height: 5px;
    top: 7.5px;
  }
}

.tablet.landscape::before {
  margin: auto 0;
  left: .925vw;
  top: 0;
  bottom: 0;
}


// Bottom of laptop
.laptop::after {
  border-radius: 4px 4px 48px 48px;
  left: -15%;
  bottom: -4%;
  width: 130%;
  height: 7%;
}


// Desktop arm
.desktop::before {
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -18%;
  width: 20%;
  height: 20%;
  background: #fafafa;
  z-index: -1;
}


// Bottom of desktop stand
.desktop::after {
  border-radius: 4px 4px 24px 24px;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -19.5%;
  width: 34%;
  height: 2%;
}


// Phone, tablet, and desktop together
.device-collection {
  width: 100%;
  position: relative;
}

.device-collection::after {
  content: "";
  display: block;
  padding-top: 62.75%;
}

.device-collection .device {
  position: absolute;
  bottom: 0;
}

.device-collection .phone {
  margin: 0;
  left: 0;
  max-width: 15%;
  z-index: 2;
}

.device-collection .tablet {
  margin: 0;
  right: 0;
  max-width: 30%;
  z-index: 1;
}

.device-collection .desktop {
  left: 0;
  right: 0;
  margin: 0 5% 10.25%;
}
