form {
    width: 100%;
    margin-bottom: $padding-large;
}

form > div {
    display: flex;
    flex-flow: row wrap;
}

form > div > * {
    flex: 1;
    @include breakpoint('', '600px') {
        flex: 1 1 100%;
    }
}

form input,
form textarea {
    margin: 0 $padding $padding-medium $padding;
}

input,
textarea,
select {
    border: solid 1px $divider-color;
    border-radius: $border-radius;
    padding: $padding-small;
}
