@import '../base/variables';

.page-header {
  text-align: center;
  background: $color-background;
  color: $text-color-primary;
}

.neutral {
  background: $color-background;
  color: $text-color-primary;
}

.primary {
  background: $color-primary;
  color: $text-color-primary-on-primary;
}

.secondary {
  background: $color-secondary;
  color: $text-color-primary-on-secondary;
}

.small {
  padding: $spacing-xl;
  min-height: 200px;
}

.medium {
  padding: $spacing-xxl;
  min-height: 400px;
}

.large {
  padding: $spacing-xxl;
  min-height: 95vh;
}
