@import '../base/variables';

.page-header {
  text-align: center;
  background: $color-background;
  color: $text-color-primary;
}

.page-header > * {
  max-width: $tablet-breakpoint;
  margin-left: auto;
  margin-right: auto;
}

.page-header > *:last-child {
  margin-bottom: 0;
}

.page-header.neutral {
  background: $color-background;
  color: $text-color-primary;
}

.page-header.primary {
  background: $color-primary;
  color: $text-color-primary-on-primary;
}

.page-header.secondary {
  background: $color-secondary;
  color: $text-color-primary-on-secondary;
}

.page-header.small {
  padding: $spacing-xl;
  min-height: 200px;
}

.page-header.medium {
  padding: $spacing-xxl;
  min-height: 400px;
}

.page-header.large {
  padding: $spacing-xxl;
  min-height: 95vh;
}
