.project-summary {
    display: flex;
    flex-direction: column;
    @include breakpoint-tablet() {
        flex-direction: row;
        align-items: center;
    }
}

.project-summary-image {
    min-height: 250px;
    flex: 2;
}

.project-summary-description {
    flex: 1;
}

.project-summary > *:first-child {
    margin-bottom: $padding-medium;
    @include breakpoint-tablet() {
        margin-bottom: 0;
        margin-right: $padding-ex-large;
    }
}

.project-logo {
    width: auto;
    max-width: 100%;
}
