.resume {
  margin: 0;
}

.resume > header {
  background: $color-primary;
  margin: 0 0 $spacing-xxl 0;
}

.resume .header-container {
  width: 100%;
  margin: 0 auto;
  padding: $spacing-xxl $spacing-l $spacing-l;
  display: flex;
  flex-flow: column nowrap;
  @include breakpoint-tablet() {
    max-width: $breakpoint-tablet;
    flex-flow: row nowrap;
    align-items: flex-end;
  }
  @include breakpoint-desktop() {
    padding: $spacing-l;
  }
}

.resume .header-container h1,
.resume .header-container h2,
.resume .header-container p {
  color: $text-color-primary-on-primary;
}

.resume .header-container > div {
  flex: 1;
}

.resume .summary {
  text-align: left;
}

.resume .summary h1 {
  line-height: 1;
  margin: 0 0 $spacing-m 0;
}

.resume .summary h2 {
  line-height: 1;
  margin: 0;
}

.resume .details {
  margin-top: $spacing-l;
  color: $text-color-secondary-on-primary;
  text-align: left;
  @include breakpoint-tablet() {
    margin-top: 0;
    color: $text-color-primary-on-primary;
    text-align: right;
  }
}

.resume .details p {
  margin: 0 0 $spacing-s 0;
  line-height: 1;
}

.resume .details p:last-child {
  margin-bottom: 0;
}

.resume section,
.resume section:last-of-type {
  margin: 0 auto $spacing-xxl auto;
  padding: 0 $spacing-l;
  max-width: $breakpoint-tablet;
  display: flex;
  flex-flow: column nowrap;
  @include breakpoint-tablet() {
    flex-flow: row nowrap;
  }
}

.resume section header {
  margin: 0 0 $spacing-xl;
  width: 100%;
  @include breakpoint-tablet() {
    margin: 0 $spacing-m 0 0;
    width: 160px;
  }
}

.resume section h3 {
  text-align: left;
  margin: 0;
  line-height: 1.35;
}

.resume section p {
  font-size: 1em;
  line-height: 1.35;
}

.resume .content {
  flex: 1;
}

.resume ul {
  margin: 0;
  padding: 0 0 0 1.1em;
}

.resume .skill-list {
  margin: 0 0 $spacing-s;
  padding: 0;
  height: 4.05em;
  display: flex;
  flex-flow: column wrap;
  list-style: none;
}

.resume .skill-list li {
  line-height: 1.35;
}

.resume section header h3 {
  color: $color-primary;
}

.resume .row {
  @include breakpoint-tablet() {
    display: flex;
    align-items: flex-end;
  }
}

.resume .entry {
  margin: 0 0 $spacing-xl;
}

.resume .entry:last-child {
  margin-bottom: 0;
}

.resume .entry-header h3 {
  margin-right: $spacing-m;
  flex: 1;
}

.resume .date-range {
  margin: $spacing-xs 0;
  color: $text-color-secondary;
  @include breakpoint-tablet() {
    margin: 0;
    color: $text-color-primary;
  }
}

.resume .location {
  margin: 0;
  color: $text-color-secondary;
}

.resume .entry-description {
  margin: $spacing-s 0;
}

.resume .entry-details {
  margin: $spacing-s 0 0 0;
}

.resume footer {
  padding: $spacing-m;
  background: $color-secondary;
  color: $text-color-primary-on-secondary;
  text-align: center;
  display: none;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.resume footer p {
  margin: 0;
  line-height: 1;
}

@media print {
  body {
    background: #fff;
  }

  #nav-button {
    display: none;
  }

  #copyright {
    display: none;
  }

  .resume {
    background: #fff;
    font-size: 0.875rem;
  }

  .resume > header,
  .resume section,
  .resume section:last-of-type,
  .resume .entry {
    margin-bottom: $spacing-l;
  }

  .resume section,
  .resume section:last-of-type {
    flex-flow: row nowrap;
  }

  .resume section header {
    margin: 0 $spacing-m 0 0;
    width: 140px;
  }

  .resume .header-container {
    max-width: $breakpoint-tablet;
    padding: $spacing-l;
    flex-flow: row nowrap;
    align-items: flex-end;
  }

  .resume .details {
    margin-top: 0;
    color: $text-color-primary-on-primary;
    text-align: right;
  }

  .resume .row {
    display: flex;
    align-items: flex-end;
  }

  .resume .date-range {
    margin: 0;
    color: $text-color-primary;
  }

  .resume footer {
    display: block;
  }
}
