.site-header {
    margin: 0 auto $padding-large auto;
    text-align: left;
    @include breakpoint-desktop() {
        margin-bottom: $padding-ex-large;
    }
}

.site-header h1 {
  line-height: 1;
  margin: 0 0 $padding 0;
  color: $contrast-text-color;
}

.site-header h2 {
  margin: 0;
  font-weight: 300;
  line-height: 1;
  color: $contrast-secondary-text-color;
}

.site-header-title-container {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  min-height: 45vh;
}

.site-header-title {
  padding: 72px;
  width: 50%;
  background: $primary-color;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.site-header-actions-container {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  min-height: 45vh;
}

.site-header-actions {
  padding: 72px 56px 56px 72px;
  width: 50%;
  background: $secondary-color;
  color: white;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.site-header-actions .button {
  margin: 0 16px 16px 0;
}

.site-header-logo {
  width: 160px;
  height: 160px;
  position: absolute;
  top: calc(50% - 80px);
  left: calc(50% - 80px);
  z-index: 2;
}

.site-header-logo img {
  width: 100%;
}

.site-header-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(/img/banner.jpg) no-repeat center center fixed;
  background-size: cover;
  z-index: -1;
}

.site-header-clip {
  display: none;
}

@supports (clip-path: circle(90px at 50% 50%)) {
  .site-header-clip {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(/img/banner.jpg) no-repeat center center fixed;
    background-size: cover;
    z-index: 1;
    clip-path: circle(90px at 50% 50%);
  }
}
