/*! Copyright 2015 Trevor Eyre. All rights reserved. */

/**********************************
 trevoreyre-styles
 **********************************/


/**********************************
 Standalone modifiers
 **********************************/

.te-ripple-container {
    position: relative;
}

.te-margin-bottom-0 {
    margin-bottom: 0 !important;
}

.te-padding-bottom-0 {
    padding-bottom: 0 !important;
}

.te-text-center {
    text-align: center;
}

.te-hide-mobile {
    @include breakpoint-phone() {
        display: none !important;
    }
}

.te-hide-tablet {
    @include breakpoint-tablet() {
        display: none !important;
    }
}

.te-hide-desktop {
    @include breakpoint-desktop() {
        display: none !important;
    }
}

.te-mobile-only {
    @include breakpoint-tablet() {
        display: none !important;
    }
    @include breakpoint-desktop() {
        display: none !important;
    }
}

.te-tablet-only {
    @include breakpoint-phone() {
        display: none !important;
    }
    @include breakpoint-desktop() {
        display: none !important;
    }
}

.te-desktop-only {
    @include breakpoint-phone() {
        display: none !important;
    }
    @include breakpoint-tablet() {
        display: none !important;
    }
}


/**********************************
 Layout
 **********************************/

.te-body {
    background: $background;
}

.te-section {
    padding: $padding-ex-large $padding;
}

.te-section--no-padding {
    padding: 0  0 $padding-ex-large 0;
}

.te-section_content {
    margin: $padding-ex-large auto;
    max-width: $body-width;
}

.te-section_content:first-child {
    margin-top: 0;
}

.te-section_content:last-child {
    margin-bottom: 0;
}

.te-section_content.te-section_content--full {
    max-width: 100%;
}

.te-section_content.te-section_content--small {
    max-width: $body-width * (2/3);
}

.te-section_content.te-section_content--medium {
    max-width: $body-width * (3/4);
}

.te-section--gradient-back {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
}

.te-section_title {
    text-align: center;
    border-bottom: 1px solid $divider-color;
}

.te-section_title h1 {
    color: $primary-color;
}


/**********************************
 About Me page
 **********************************/

.te-overview {
    @include breakpoint-tablet() {
        width: 75%;
    }
}

.te-overview_info {
    padding: 0 $padding;
    @include breakpoint-tablet() {
        padding: 0;
    }
    @include breakpoint-desktop() {
        padding: $padding-medium;
    }
}

.te-overview_img {
    overflow-x: hidden;
}

.te-overview_img--mobile {
    padding: 0 $padding;
    @include breakpoint-tablet() {
        padding: 0;
    }
}

.te-overview_img--mobile img {
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 50%;
    @include shadow-4dp();
}


/**********************************
 Portfolio page
 **********************************/

.te-portfolio_img {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    height: 496px;
    @include shadow-4dp();
}

.te-portfolio_inner {
    background-color: rgba(0, 0, 0, 0); //rgba(96, 125, 139, 0);
    height: 496px;
    transition: background-color 0.5s;
}

.te-portfolio_inner:hover {
    background-color: rgba(0, 0, 0, 0.25); //rgba(96, 125, 139, 0.65);
}

.te-portfolio_info {
    opacity: 0;
    transition: opacity 0.5s;
}

.te-portfolio_inner:hover > .te-portfolio_info {
    opacity: 1;
}

.te-portfolio_info--left {
    padding-left: $padding-ex-large;    
}

.te-portfolio_info--right {
    padding-right: $padding-ex-large;
}

.te-portfolio_info * {
    opacity: 0;
}

.te-portfolio_info .card-content {
    position: relative;
}

.te-portfolio_info.te-portfolio_info--left .card-content {
    left: $padding-medium;
}

.te-portfolio_info.te-portfolio_info--right .card-content {
    right: $padding-medium;
}

.te-portfolio_info .header {
    transition: all 0.5s ease;
}

.te-portfolio_info .card-content {
    transition: all 0.5s ease 0.2s;
}

.te-portfolio_info .card-actions {
    transition: all 0.5s ease 0.4s;
}

.te-portfolio_inner:hover .te-portfolio_info * {
    opacity: 1;
}

.te-portfolio_inner:hover .te-portfolio_info.te-portfolio_info--left .card-content {
    left: 0;
}

.te-portfolio_inner:hover .te-portfolio_info.te-portfolio_info--right .card-content {
    right: 0;
}


/**********************************
 Navigation
 **********************************/

paper-item:hover {
    background: darken($background--menu, 7);
}

.te-menu-icon {
    margin-right: $padding;
}
