/*! Copyright 2015 Trevor Eyre. All rights reserved. */

/**********************************
 trevoreyre-styles
 **********************************/


/**********************************
 Standalone modifiers
 **********************************/

.te-ripple-container {
    position: relative;
}

.te-margin-bottom-0 {
    margin-bottom: 0 !important;
}

.te-padding-bottom-0 {
    padding-bottom: 0 !important;
}

.te-text-center {
    text-align: center;
}

.te-hide-mobile {
    @include breakpoint-phone() {
        display: none !important;
    }
}

.te-hide-tablet {
    @include breakpoint-tablet() {
        display: none !important;
    }
}

.te-hide-desktop {
    @include breakpoint-desktop() {
        display: none !important;
    }
}

.te-mobile-only {
    @include breakpoint-tablet() {
        display: none !important;
    }
    @include breakpoint-desktop() {
        display: none !important;
    }
}

.te-tablet-only {
    @include breakpoint-phone() {
        display: none !important;
    }
    @include breakpoint-desktop() {
        display: none !important;
    }
}

.te-desktop-only {
    @include breakpoint-phone() {
        display: none !important;
    }
    @include breakpoint-tablet() {
        display: none !important;
    }
}


/**********************************
 Layout
 **********************************/

.te-body {
    background: $background;
}

.te-section {
    padding: $padding-ex-large $padding;
}

.te-section--no-padding {
    padding: 0  0 $padding-ex-large 0;
}

.te-section_content {
    margin: $padding-ex-large auto;
    max-width: $body-width;
}

.te-section_content:first-child {
    margin-top: 0;
}

.te-section_content:last-child {
    margin-bottom: 0;
}

.te-section_content.te-section_content--full {
    max-width: 100%;
}

.te-section_content.te-section_content--small {
    max-width: $body-width * (2/3);
}

.te-section_content.te-section_content--medium {
    max-width: $body-width * (3/4);
}

.te-section--gradient-back {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
}

.te-section_title {
    text-align: center;
    border-bottom: 1px solid $divider-color;
}

.te-section_title h1 {
    color: $primary-color;
}


/**********************************
 Cards
 **********************************/

// .te-card {
//     @include breakpoint-phone() {
//         padding: 0;
//     }
//     padding: $padding;
// }

// .te-card-title {
//     padding: $padding;
// }

// .te-card-title * {
//     font-weight: 400;
//     color: $primary-color;
//     margin: 0;
// }

// .te-card-content {
//     padding: $padding $padding 0 $padding;
// }

// .te-card-actions {
//     border-top: 1px solid $divider-color;
//     padding: $padding-small;
// }


/**********************************
 About me page
 **********************************/

.te-overview {
    @include breakpoint-tablet() {
        width: 75%;
    }
}

.te-overview_info {
    padding: 0 $padding;
    @include breakpoint-tablet() {
        padding: 0;
    }
    @include breakpoint-desktop() {
        padding: $padding-medium;
    }
}

.te-overview_img {
    overflow-x: hidden;
}

.te-overview_img--mobile {
    padding: 0 $padding;
    @include breakpoint-tablet() {
        padding: 0;
    }
}

.te-overview_img--mobile img {
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 50%;
    @include shadow-4dp();
}


/**********************************
 Portfolio page
 **********************************/

.te-portfolio_container {
    width: 100%;
    @include shadow-4dp();
}

.te-portfolio_img {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    height: 368px;
    @include breakpoint-tablet() {
        height: 496px;
    }
    @include breakpoint-desktop() {
        height: 560px;
    }
}

.te-portfolio_img.te-portfolio_img--top-left {
    background-position: left top;
}

.te-portfolio_inner {
    background-color: rgba(0, 0, 0, 0.1); //rgba(96, 125, 139, 0);
    transition: background-color 0.5s;
    height: 368px;
    @include breakpoint-tablet() {
        background-color: rgba(0, 0, 0, 0.25);
        height: 496px;
    }
    @include breakpoint-desktop() {
        background-color: rgba(0, 0, 0, 0);
        height: 560px;
    }
}

.te-portfolio_inner:hover {
    @include breakpoint-desktop() {
        background-color: rgba(0, 0, 0, 0.25); //rgba(96, 125, 139, 0.65);
    }
}

.te-portfolio_info {
    @include breakpoint-tablet() {
        opacity: 1;
    }
    @include breakpoint-desktop() {
        opacity: 0;
        transition: opacity 0.5s;
    }
}

.te-portfolio_inner:hover > .te-portfolio_info {
    @include breakpoint-desktop() {
        opacity: 1;
    }
}

.te-portfolio_info--left {
    @include breakpoint-tablet() {
        padding-left: $padding;
    }
    @include breakpoint-desktop() {
        padding-left: $padding-ex-large;
    }
}

.te-portfolio_info--right {
     @include breakpoint-tablet() {
        padding-right: $padding;
    }
    @include breakpoint-desktop() {
        padding-right: $padding-ex-large;
    }
}

.te-portfolio_info * {
    @include breakpoint-desktop() {
        opacity: 0;
    }
}

.te-portfolio_info .card-content {
    position: relative;
}

.te-portfolio_info.te-portfolio_info--left .card-content {
    @include breakpoint-desktop() {
        left: $padding-medium;
    }
}

.te-portfolio_info.te-portfolio_info--right .card-content {
    @include breakpoint-desktop() {
        right: $padding-medium;
    }
}

.te-portfolio_info .header {
    transition: all 0.5s ease;
}

.te-portfolio_info .card-content {
    transition: all 0.5s ease 0.2s;
}

.te-portfolio_info .card-actions {
    transition: all 0.5s ease 0.4s;
}

.te-portfolio_inner:hover .te-portfolio_info * {
    @include breakpoint-desktop() {
        opacity: 1;
    }
}

.te-portfolio_inner:hover .te-portfolio_info.te-portfolio_info--left .card-content {
    @include breakpoint-desktop() {
        left: 0;
    }
}

.te-portfolio_inner:hover .te-portfolio_info.te-portfolio_info--right .card-content {
    @include breakpoint-desktop() {
        right: 0;
    }
}

a.te-button {
    color: $text-color;
    text-decoration: none;
}

a.te-button--call {
    color: $primary-color;
    text-decoration: none;   
}

.te-button:hover,
.te-button--call:hover {
    background: darken($background, 7);
}


/**********************************
 Navigation
 **********************************/

paper-item:hover {
    background: darken($background--menu, 7);
}

.te-icon {
    margin-right: $padding-small;
}


/**********************************
 Loading screen
 **********************************/

#te-loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    background: $background;
    text-align: center;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.75s ease-in-out 1s, visibility 0s linear 1.75s;
}

#te-loading.loaded {
    opacity: 0;
    visibility: hidden;
}

#te-loading #te-loading_inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 256px;
}

#te-loading #te-loading_inner h1 {
    color: $primary-color;
    font-weight: 300;
}

#te-loading #te-loading_inner h4 {
    color: $secondary-text-color;
    margin-bottom: 0;
}

// Loader
.loader,
.loader:before,
.loader:after {
    background: $divider-color;
    animation: load 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}

.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}

.loader:before {
    left: -2em;
    animation-delay: -0.32s;
}

.loader {
    font-size: 7px;
    text-indent: -9999em;
    margin: 32px auto;
    position: relative;
    transform: translateZ(0);
    animation-delay: -0.16s;
}

.loader:after {
    left: 2em;
}

@keyframes load {
    0%,
    80%,
    100% {
        box-shadow: 0 0 $divider-color;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em $divider-color;
        height: 5em;
    }
}
