/*! Copyright 2015 Trevor Eyre. All rights reserved. */

/**********************************
 trevoreyre-styles
 **********************************/


/**********************************
 Standalone modifiers
 **********************************/

.te-ripple-container {
    position: relative;
}

.te-margin-bottom-0 {
    margin-bottom: 0 !important;
}

.te-padding-bottom-0 {
    padding-bottom: 0 !important;
}

.te-mobile-only {
    @include breakpoint-tablet() {
        display: none !important;
    }
    @include breakpoint-desktop() {
        display: none !important;
    }
}

.te-tablet-only {
    @include breakpoint-phone() {
        display: none !important;
    }
    @include breakpoint-desktop() {
        display: none !important;
    }
}

.te-desktop-only {
    @include breakpoint-phone() {
        display: none !important;
    }
    @include breakpoint-tablet() {
        display: none !important;
    }
}


/**********************************
 Layout
 **********************************/

.te-body {
    background: $background;
}

.te-section {
    padding: $padding-ex-large 0;
}

.te-section_content {
    margin: $padding-ex-large auto;
    max-width: $body-width;
}

.te-section_content:first-child {
    margin-top: 0;
}

.te-section_content:last-child {
    margin-bottom: 0;
}

.te-section_content.te-section_content--full {
    max-width: 100%;
}

.te-section--gradient-back {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
}

.te-overview {
    @include breakpoint-tablet() {
        width: 75%;
    }
}

.te-overview_info {
    padding: 0 $padding;
    @include breakpoint-tablet() {
        padding: 0;
    }
    @include breakpoint-desktop() {
        padding: 0 0 $padding-medium $padding-medium;
    }
}

.te-overview_img {
    overflow-x: hidden;
}

.te-overview_img--mobile {
    padding: 0 $padding;
    @include breakpoint-tablet() {
        padding: 0;
    }
}

.te-overview_img--mobile img {
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 50%;
    @include shadow-4dp();
}

paper-item:hover {
    background: darken($background--menu, 7);
}
