@import 'mdl/variables';

/**********************************
 Layout
 **********************************/

$desktop-breakpoint: $grid-desktop-breakpoint;
$tablet-breakpoint: $grid-tablet-breakpoint;
$body-width: 1024px;
$menu-height: 64px;
$padding: 16px;
$padding-ex-small: $padding/4;
$padding-small: $padding/2;
$padding-medium: 2 * $padding;
$padding-large: 3 * $padding;
$padding-ex-large: 4 * $padding;


/**********************************
 Colors
 **********************************/

$background: #fafafa;
$background--menu: #fff;
$primary-color: #607d8b;
$accent-color: #ff3d00;
$divider-color: rgba(0, 0, 0, 0.12);
$text-color: rgba(0, 0, 0, 0.87);
$secondary-text-color: rgba(0, 0, 0, 0.54);


/**********************************
 Grid
 **********************************/

$grid-desktop-gutter: 32px;
$grid-desktop-margin: 0;
$grid-tablet-gutter: 16px;
$grid-tablet-margin: 0;
$grid-phone-gutter: 16px;
$grid-phone-margin: 0;
