@import 'variables';
@import 'mixins';
@import 'normalize';

/**********************************
 Typography
 **********************************/

a {
    text-decoration: none;
}


/**********************************
 Standalone modifiers
 **********************************/

.te-ripple-container {
    position: relative;
}

.te-margin-bottom-0 {
    margin-bottom: 0 !important;
}


/**********************************
 Layout elements
 **********************************/

.te-body {
    background: $background;
}

.te-content {
    margin: $padding-large $padding-large 0  $padding-large;
}

.te-section {
    margin: $padding-large auto;
    max-width: $body-width;
}

.te-section.te-section--full {
    max-width: 100%;
}

.te-card__media img {
    width: 100%;
}

.te-image--hero {
    display: block;
    background-image: url(/trevoreyre/img/teyre.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    width: 100%;
    height: calc(100vh - #{$padding-large} - #{$menu-height});
}

.te-menu-item:hover {
    background: darken($background--menu, 5);
}


/**********************************
 Media queries
 **********************************/

@media (min-width: 641px) {
    .te-toolbar--mobile {
        display: none;
    }
}