@import '../base/variables';
@import '../base/mixins';
@import '../base/base';
@import '../base/typography';

body {
  background: $color-background;
}

header {
  padding: $spacing-xl;
  min-height: 200px;
  text-align: center;
  background: $color-background;
  color: $text-color-primary;
}

header > * {
  max-width: $tablet-breakpoint;
  margin-left: auto;
  margin-right: auto;
}

header > *:last-child {
  margin-bottom: 0;
}
