---
import '@slate-ui/core/dist/collection/components/app-bar/app-bar.css'
import '@slate-ui/core/dist/collection/components/app-nav/app-nav.css'
import '@slate-ui/core/dist/collection/components/container/container.css'
import '@slate-ui/core/dist/collection/components/stack/stack.css'
import '@slate-ui/core/dist/collection/components/text/text.css'
import '@slate-ui/core/theme.css'
import '@slate-ui/core/theme-typography.css'
import '@slate-ui/core/styles.css'
import '~/theme.css'
import { IconEmail, IconLogoGitHub, IconLogoLinkedIn, IconPhone } from '~/components/icons.js'
import NavLink from '~/components/nav-link.astro'

const { title, padding = 'md' } = Astro.props
const pageTitle = title ? `${title} - Trevor Eyre` : 'Trevor Eyre'
const year = new Date().getFullYear()
---

<script>
  import '@slate-ui/core/dist/components/slate-app-bar.js'
  import '@slate-ui/core/dist/components/slate-app-nav-content.js'
  import '@slate-ui/core/dist/components/slate-app-nav-menu-button.js'
  import '@slate-ui/core/dist/components/slate-app-nav.js'
  import '@slate-ui/core/dist/components/slate-container.js'
  import '@slate-ui/core/dist/components/slate-stack.js'
  import '@slate-ui/core/dist/components/slate-text.js'
</script>

<!DOCTYPE html>
<html lang="en">
  <head>
    <style is:inline>
      @layer slate-theme, theme, slate-components-1, slate-components-2, app, pages;
    </style>
    <title>{pageTitle}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Senior front end software engineer" />
    <meta
      name="apple-mobile-web-app-title"
      content="Trevor Eyre - Senior front end software engineer"
    />
    <meta name="application-name" content="Trevor Eyre" />
    <meta name="theme-color" content="#1c5b72" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
  </head>
  <body>
    <slate-app-bar>
      <slate-container size="lg">
        <slate-app-nav aria-label="Main" justify="between" wrap>
          <slate-app-nav-menu-button></slate-app-nav-menu-button>
          <slate-app-nav-content gap="md">
            <NavLink href="/">
              <slate-text transform="uppercase">Home</slate-text>
            </NavLink>
            <NavLink href="/trevor-eyre-resume.pdf" target="_blank">
              <slate-text transform="uppercase">Resume</slate-text>
            </NavLink>
          </slate-app-nav-content>
          <slate-stack class="social-links" gap="sm" direction="row">
            <a
              aria-label="Phone"
              href="tel:+12086316741"
              target="_blank"
              rel="noreferrer noopener"
            >
              <IconPhone aria-hidden="true" />
            </a>
            <a
              aria-label="Email"
              href="mailto:trevoreyre@gmail.com"
              target="_blank"
              rel="noreferrer noopener"
            >
              <IconEmail aria-hidden="true" />
            </a>
            <a
              aria-label="GitHub"
              href="https://github.com/trevoreyre"
              target="_blank"
              rel="noreferrer noopener"
            >
              <IconLogoGitHub aria-hidden="true" />
            </a>
            <a
            	aria-label="LinkedIn"
              href="https://www.linkedin.com/in/trevoreyre"
              target="_blank"
              rel="noreferrer noopener"
            >
              <IconLogoLinkedIn aria-hidden="true" />
            </a>
          </slate-stack>
        </slate-app-nav>
      </slate-container>
    </slate-app-bar>
    <main data-padding={padding}>
      <slot />
    </main>
    <footer>
      <slate-text size="sm" variant="secondary">
        © {year} Trevor Eyre. All rights reserved.
      </slate-text>
    </footer>
  </body>
</html>

<style>
  slate-app-bar {
    padding-inline: var(--app-padding-inline);
    border-block-end: none;
    position: sticky;
    inset-block-start: 0;
    z-index: var(--z-index-sticky);

    /* Tiny transform when sticking? Add border only when sticking? */
    /* Make it look like the app bar "popped" out a bit */
    /* transform: scale(1.01) translate(0, -2px);
    transition: transform 0.08s ease-out; */
  }

  slate-app-nav {
    border-block-end: var(--border-size-md) solid hsl(var(--color-border));
    row-gap: var(--spacing-3xs);
  }

  .links {
    row-gap: var(--spacing-none);
  }

  .social-links :is(te-icon-phone, te-icon-email, te-icon-logo-github, te-icon-logo-linkedin) {
    inline-size: 1.25rem;
    block-size: 1.25rem;
  }

  main {
    display: block;
    padding-inline: var(--app-padding-inline);
    padding-block: var(--spacing-2xl);
  }

  main[data-padding='lg'] {
    padding-block: var(--spacing-6xl);
  }

  footer {
    padding-block: var(--spacing-md);
    padding-inline: var(--app-padding-inline);
    text-align: center;
  }

  @media (--viewport-sm-down) {
    slate-app-bar {
      border-block-end: var(--border-size-md) solid hsl(var(--color-border));
    }

    slate-app-nav {
      border-block-end: none;
      min-block-size: var(--size-xl);
    }

    slate-app-nav-menu-button {
      position: absolute;
      inset-inline-start: calc(-1 * var(--spacing-3xs));
      z-index: var(--z-index-sticky);
    }

    slate-app-nav-content {
      padding-block-start: calc(var(--size-lg) + var(--spacing-4xs) + var(--spacing-sm));
    }

    .social-links {
      margin-inline-start: auto;
    }
  }
</style>
