html {
    font-size: 16px;
}

body {
    font-family: $font-stack;
    color: $primary-text-color;
    font-weight: 400;
    line-height: 1.45;
}

h1, h2, h3, h4 {
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
}

h1 {
    margin-top: 0;
    font-size: 6.854em;
    color: $primary-color;
}

h2 {
    font-size: 4.236em;
    color: $primary-color;
}

h3 {
    font-size: 2.618em;
}

h4 {
    font-size: 1.618em;
}

p {
    margin-bottom: 1.3em;
}

small,
.font_small {
    font-size: 0.618em;
}

/*
body {
    font-family: $font-stack;
    color: $primary-text-color;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
}

a {
    color: $primary-color;
    text-decoration: none;
    transition: all 0.3s;
}

a:hover {
    text-decoration: underline;
}

p {
    margin-bottom: 24px;
    padding: 0;
}

b,
strong {
    font-weight: 700;
}

em,
i {
    font-style: italic;
}

span {
    text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin-top: 0;
}

h1,
h2 {
    color: $primary-color;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h4,
h5,
h6 {
    font-size: 16px;
}
*/
