.te-body {
    font-family: $font-stack;
    color: $primary-text-color;
    font-weight: 400;
    line-height: 1.5;
    font-size: 14px;
}

a {
    color: $primary-color;
    text-decoration: none;
    transition: all 0.3s;
}

a:hover {
    text-decoration: underline;
}

p {
    margin-bottom: 24px;
    padding: 0;
}

b,
strong {
    font-weight: 700;
}

em,
i {
    font-style: italic;
}

span {
    text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $primary-color;
    font-weight: 400;
    text-transform: capitalize;
    margin-top: 0;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h4,
h5,
h6 {
    font-size: 16px;
    font-weight: 300;
}
