/* Typography */
$font-stack: 'Open Sans', Verdana, sans-serif;
$font-size: 16px;

/* Layout */
$content-max-width: 1024px;
$breakpoint-desktop: 1200px;
$breakpoint-tablet: 800px;
$spacing-xxs: 2px;
$spacing-xs: 4px;
$spacing-s: 8px;
$spacing-m: 16px;
$spacing-l: 24px;
$spacing-xl: 40px;
$spacing-xxl: 64px;
$border-radius-s: 4px;
$border-radius-m: 8px;
$border-radius-l: 12px;
$border-radius-xl: 16px;

/* Theme colors and text colors */
$color-primary: #1c5b72;
$color-secondary: #e03616;
$color-background: #fafafa;
$color-background-low-contrast: #fafafa;
$text-color-primary: rgba(black, 0.87);
$text-color-secondary: rgba(black, 0.54);
$text-color-disabled: rgba(black, 0.38);
$text-color-primary-on-contrast: white;
$text-color-secondary-on-contrast: rgba(white, 0.7);
$text-color-disabled-on-contrast: rgba(white, 0.5);
$text-color-primary-on-primary: white;
$text-color-secondary-on-primary: rgba(white, 0.7);
$text-color-disabled-on-primary: rgba(white, 0.5);
$text-color-primary-on-secondary: white;
$text-color-secondary-on-secondary: rgba(white, 0.7);
$text-color-disabled-on-secondary: rgba(white, 0.5);
$border-color: rgba(black, 0.12);

/* Nav button */
$button-width: 56px;
$button-height: 56px;
$bar-thickness: 2px;
$button-pad: 18px;
$button-bar-space: 4px;
$button-transistion-duration: 0.3s;

/* Nav button */
$button-width: 56px;
$button-height: 56px;
$bar-thickness: 2px;
$button-pad: 18px;
$button-bar-space: 4px;
$button-transistion-duration: 0.3s;


















/* Typography */
// $font-stack: 'Open Sans', Verdana, sans-serif;
$base-font-size: 16px;

/* Layout */
$desktop-breakpoint: 1200px;
$tablet-breakpoint: 800px;
$body-width: 1024px;
$menu-height: 64px;
$padding: 16px;
$padding-ex-small: $padding/4;
$padding-small: $padding/2;
$padding-medium: 2 * $padding;
$padding-large: 3 * $padding;
$padding-ex-large: 4 * $padding;

$border-radius: 3px;

/* Colors */
$background: #fafafa;
$background--menu: #fff;
// $primary-color: #607d8b;
// $primary-color: #009688;
$primary-color: #1c5b72;
// $secondary-color: #ff3d00;
$secondary-color: #e03616;
$divider-color: rgba(0, 0, 0, 0.12);
$primary-text-color: rgba(0, 0, 0, 0.87);
$secondary-text-color: rgba(0, 0, 0, 0.54);
$contrast-text-color: rgba(255, 255, 255, 1);
$contrast-secondary-text-color: rgba(255, 255, 255, 0.6);


