
/* Typography */
$font-stack: 'Open Sans', Verdana, sans-serif;
$base-font-size: 16px;

/* Layout */
$desktop-breakpoint: 1200px;
$tablet-breakpoint: 800px;
$body-width: 1024px;
$menu-height: 64px;
$padding: 16px;
$padding-ex-small: $padding/4;
$padding-small: $padding/2;
$padding-medium: 2 * $padding;
$padding-large: 3 * $padding;
$padding-ex-large: 4 * $padding;

$border-radius: 3px;

/* Colors */
$background: #fafafa;
$background--menu: #fff;
// $primary-color: #607d8b;
// $primary-color: #009688;
$primary-color: #1c5b72;
// $secondary-color: #ff3d00;
$secondary-color: #e03616;
$divider-color: rgba(0, 0, 0, 0.12);
$primary-text-color: rgba(0, 0, 0, 0.87);
$secondary-text-color: rgba(0, 0, 0, 0.54);
$contrast-text-color: rgba(255, 255, 255, 1);
$contrast-secondary-text-color: rgba(255, 255, 255, 0.6);

/* Nav button */
$button-width: 56px;
$button-height: 56px;
$bar-thickness: 2px;
$button-pad: 18px;
$button-bar-space: 4px;
$button-transistion-duration: 0.3s;
